{% extends 'base.html' %}

{% block content %}

<div class="d-flex flex-column w-100 vh-100 align-items-center justify-content-center">

    
<div class="container">
    <table class="table table-hover table-striped">
    <tr >
        <th>sl.no</th>
        <th>Title</th>
        <th>Content</th>
        <th>Added Date</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Actions</th>
        
    </tr>
    {% for i in todo %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.title}}</td>
        <td>{{i.content}}</td>
        <td>{{i.added_date}}</td>
        <td>{{i.due_date}}</td>
        <td>{{i.status}}</td>
        <td>
            <a class="btn btn-info" href="">Update</a>
            <a class="btn btn-danger" href="{% url 'delete' i.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}

</table>
</div>



    </div>
{% endblock %}
 
